/*Sirve para que al scrollear no se vea tan brusco */
html{
    scroll-behavior: smooth;
}

body {
    background-color: #1c1e1f;
}

h1,
p,
h5,
h2 {
    color: #D1CDC7;
}

li,
a {
    color: #7DEDA5;
}
